<div  class="login-container container">
    <div class="login panel panel-primary">
        <div class="panel-heading" id="panel-heading-black"><em>LOGIN </em>登陆</div>
        <div class="form panel-body">
            <form id="loginForm" action="#">
                <ul>
                    <li>
                        <span>用户名：</span>
                        <input id='login_name' class="text" value='zhangSan' type="text">
                        <label>
                            <input type="checkbox">
                            <strong>记住我</strong>
                        </label>
                    </li>
                    <li>
                        <span>密&nbsp;&nbsp;&nbsp;码：</span>
                        <input id='login_pass' class="text" type="password" value='111111' >
                        <input  id="loginButton" class="btn" type="button" value="登陆">
                    </li>
                </ul>
            </form>
        </div>
        <p>
            <a id="toRegist" href="#">新用户注册</a>
            <a href="#">忘记密码</a>
        </p>
    </div>
</div>
