
<!DOCTYPE html>
<html ng-app="myApp" ng-controller="Aaa">
<head>
    <title>SyncTabs</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.2.9/angular-route.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">注册{{name}}</a></li>
            <li><a href="javascript:;" ng-click="$location.path('login')">登录</a></li>
            <li><a href="javascript:;" ng-click="$location.path('history')">历史记录</a></li>
        </ul>
    </div>
</nav>
<div class="container ng-view"></div>
<input id="test" type="button"  ng-click="show()">
</body>
</html>